<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" style="--ion-background-color: #FFFFFF">

    <div class="filters">
      <mat-chip-list>
        <mat-chip color="primary" selected class="chip">Creados por mi</mat-chip>
        <mat-chip color="primary" selected class="chip">Asistidos</mat-chip>
      </mat-chip-list>
    </div>
    
    <ion-card class="event-card">
      <ion-card-header>
        <ion-card-subtitle><b>Conferencia Sala Central</b></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content style="text-align: left">
        Gran conferencia en la sala central
        <br>
        <b>Inicio</b>: 10 am, 10 de octubre
        <br>
        <b>Fin</b>: 10 pm, 10 de octubre
        <br>
        <b>Estado</b>: Abierto
        <br>
        <b>Modalidad</b>: Presencial
      </ion-card-content>
    </ion-card>
    <ion-card class="event-card">
      <ion-card-header>
        <ion-card-subtitle><b>Conferencia Sala Central</b></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content style="text-align: left">
        Gran conferencia en la sala central
        <br>
        <b>Inicio</b>: 10 am, 10 de octubre
        <br>
        <b>Fin</b>: 10 pm, 10 de octubre
        <br>
        <b>Estado</b>: Sin Cupos
        <br>
        <b>Modalidad</b>: Virtual
      </ion-card-content>
    </ion-card>
    <ion-card class="event-card">
      <ion-card-header>
        <ion-card-subtitle><b>Conferencia Sala Central</b></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content style="text-align: left">
        Gran conferencia en la sala central
        <br>
        <b>Inicio</b>: 10 am, 10 de octubre
        <br>
        <b>Fin</b>: 10 pm, 10 de octubre
        <br>
        <b>Estado</b>: Terminado
        <br>
        <b>Modalidad</b>: Virtual
      </ion-card-content>
    </ion-card>
    <ion-card class="event-card">
      <ion-card-header>
        <ion-card-subtitle><b>Conferencia Sala Central</b></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content style="text-align: left">
        Gran conferencia en la sala central
        <br>
        <b>Inicio</b>: 10 am, 10 de octubre
        <br>
        <b>Fin</b>: 10 pm, 10 de octubre
        <br>
        <b>Estado</b>: Abierto
        <br>
        <b>Modalidad</b>: Virtual
      </ion-card-content>
    </ion-card>
  </div>
  <div class="add-button-event" style="position: fixed; bottom: 50px; right: 30px;">
    <ion-fab-button style="width:45px; height: 45px; font-size: 30px;">+</ion-fab-button>
  </div>
</ion-content>