<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <div class="filters">
      <mat-chip-list>
        <mat-chip color="primary" [selected]="owned" class="chip" (click)="setOwnedEventList()">Creados por mi</mat-chip>
        <mat-chip color="primary" [selected]="enrolled" class="chip" (click)="setEnrolledEventList()">Asistidos</mat-chip>
      </mat-chip-list>
    </div>

    <ion-searchbar placeholder="Nombre del Evento" showCancelIcon="always" (ionInput)="getTermEventList($event)"></ion-searchbar>

    <ion-card *ngFor="let event of events" class="event-card">
      <ion-card-header>
        <ion-card-subtitle><b>{{event.name}}</b></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content style="text-align: left">
        {{event.summary}}
        <br>
        <b>Inicio</b>: {{event.start_time}}
        <br>
        <b>Fin</b>: {{event.end_time}}
        <br>
        <b>Estado</b>: {{statusStates[event.status]}}
        <br>
        <b>Modalidad</b>: {{modeStates[event.mode]}}
      </ion-card-content>
    </ion-card>
  </div>
  <div routerLink="/menu/events/create-event" class="add-event-button">
    <ion-fab-button class="icon-plus">+</ion-fab-button>
  </div>
</ion-content>