ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  left: 0;
  right: 0;
  padding: 0px 10px 40px;
  background-color: #ffffff;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#add-event {
  margin: 20px 10px 10px;
}

.filters {
  max-width: 215px;
  margin: 16px auto 8px;
  align-self: center;
  text-align: center;
}

.event-card {
  max-height: 250px;
}

.add-event-button {
  position: fixed;
  bottom: 50px;
  right: 30px;

  .icon-plus {
    width: 45px;
    height: 45px;
    font-size: 30px;
  }
}
