<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div *ngIf="!qrTouched">
      <div class="container-qr" (click)="allowQr()">
        <ngx-qrcode 
          [elementType]="qrElementType" 
          [value]="code"
          [errorCorrectionLevel]="qrCorrectionLevel"
          cssClass="qr-img">
        </ngx-qrcode>
      </div>

      <div class="form">
        <div class="center">
          <mat-form-field class="fullname-input">
            <mat-label>Nombre y Apellido</mat-label>
            <input matInput [(ngModel)]="fullname" maxlength="128" required>
          </mat-form-field>
        </div>

        <div class="center">
          <mat-checkbox class="checkbox" [(ngModel)]="showOccupation" color="primary"></mat-checkbox>
          <mat-form-field class="input-form">
            <mat-label>Ocupacion</mat-label>
            <input matInput [(ngModel)]="occupation" maxlength="64">
          </mat-form-field>
        </div>

        <div class="center">
          <mat-checkbox class="checkbox" [(ngModel)]="showPhone" color="primary"></mat-checkbox>
          <mat-form-field class="input-form">
            <mat-label>Celular</mat-label>
            <input matInput [(ngModel)]="phone" maxlength="16">
          </mat-form-field>
        </div>

        <div class="center">
          <mat-checkbox class="checkbox" [(ngModel)]="showDni" color="primary"></mat-checkbox>
          <mat-form-field class="input-form">
            <mat-label>Numero de Documento de Identidad</mat-label>
            <input matInput [(ngModel)]="dni" maxlength="16">
          </mat-form-field>
        </div>

        <div class="center">
          <mat-checkbox class="checkbox" [(ngModel)]="showBirthDay" color="primary"></mat-checkbox>
          <mat-form-field class="birthday-input">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [(ngModel)]="birthDay" [matDatepicker]="picker" disabled>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-icon (click)="picker.open()" class="date-picker">calendar_today</mat-icon>
        </div>

        <div class="center">
          <mat-checkbox class="checkbox" [(ngModel)]="showEmail" color="primary"></mat-checkbox>
          <mat-form-field class="input-form">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" maxlength="128" disabled>
          </mat-form-field>
        </div>
        <button mat-button color="primary" (click)="submitUserData()">Actualizar</button>
      </div>
    </div>
    <div *ngIf="qrTouched" class="qr-touched-container">
      <div class="qr-touched">
        <ngx-qrcode 
          [elementType]="qrElementType" 
          [value]="code"
          [errorCorrectionLevel]="qrCorrectionLevel"
          cssClass="qr-img"
          (click)="qrTouched=false">
        </ngx-qrcode>
        <div class="show-id">
          <p> Tu ID es: <b class="blue-color">{{identificationCode}}</b> </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
