
#container {
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  width: 20px;height: 20px;
}

.md-datepicker-input-container {
  width: 100%;
}