ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  margin: 10px;
}

.contact-list {
  margin: auto;
  max-width: 400px;
}

.contact {
  font-weight: 300;
  border-bottom: 0.5px solid var(--ion-color-primary);

  .icon {
    margin-right: 16px;
    font-size: 42px;
    color: var(--ion-color-primary);
  }
}