<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div class="contact-list">
      <mat-list>
        <mat-list-item *ngFor="let contact of contacts" class="contact">
          <ion-icon ios="person-circle-outline" md="person-circle" class="icon"></ion-icon>
          <div class="name">{{contact.name}}</div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="add-button-event" style="position: fixed; bottom: 50px; right: 30px;">
    <ion-fab-button style="width:45px; height: 45px; font-size: 30px;">+</ion-fab-button>
  </div>
</ion-content>