<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contactos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-searchbar style="--ion-background-color: #FFFFFF; text-align: left" color="light" placeholder="Busca tus contactos"></ion-searchbar>
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h3>Renato Roberto Chavez Urday d dsdsd   sdsdsd</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h3>Renato Roberto Chavez Urday</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h3>Renato Roberto Chavez Urday</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h3>Renato Roberto Chavez Urday</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h3>Renato Roberto Chavez Urday</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div class="add-button-event" style="position: fixed; bottom: 50px; right: 30px;">
    <ion-fab-button style="width:45px; height: 45px; font-size: 30px;">+</ion-fab-button>
  </div>
</ion-content>