<ion-content no-bounce class="no-scroll scroll-content">
  <div id="login-container">
    <img src="assets/img/kalia-blue-logo.svg" class="logo-kalia">
    <div class="container-form">
      <form ngNativeValidate [formGroup]="form" (ngSubmit)="login()" class="form">
        <mat-form-field class="input" appearance="outline">
          <mat-label class="input-label"><b>Usuario</b></mat-label>
          <input matInput maxlength="64" formControlName="username" class="input-entry">
        </mat-form-field>
        <mat-form-field class="input" appearance="outline">
          <mat-label class="input-label"><b>Contraseña</b></mat-label>
          <input matInput formControlName="password" maxlength="128" type="password" class="input-entry">
        </mat-form-field>
        <button class="submit-button">
          Entrar
        </button>
      </form>
      <button class="register-button">
        Registrate
      </button>
    </div>
  </div>
</ion-content>