<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Editar Evento</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div id="container">
      <form [formGroup]="eventForm">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Datos del Evento
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="form-container">
              <mat-form-field appearance="outline" class="input">
                <mat-label>Descripcion Corta</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="3" formControlName="summary">
              </textarea>
              </mat-form-field>
              <mat-form-field appearance="outline" class="input">
                <mat-label>Modalidad</mat-label>
                <input matInput formControlName="mode">
              </mat-form-field>
              <mat-form-field appearance="outline" class="input">
                <mat-label>Hora de Inicio</mat-label>
                <input matInput formControlName="startTime">
              </mat-form-field>
              <mat-form-field appearance="outline" class="input">
                <mat-label>Hora de Fin</mat-label>
                <input matInput formControlName="endTime">
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Datos Adicionales
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline" class="input">
              <mat-label>Descripcion Completa</mat-label>
              <textarea matInput cdkTextareaAutosize 
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="4" formControlName="description">
            </textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
              <mat-label>Lugar</mat-label>
              <input matInput formControlName="place">
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
              <mat-label>Url de reunion</mat-label>
              <input matInput formControlName="meetUrl">
            </mat-form-field>
            <mat-form-field appearance="outline" class="input">
              <mat-label>Url Maps</mat-label>
              <input matInput formControlName="mapsUrl">
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>
        <button class="submit-button">Crear Evento</button>
      </form>
    </div>
  </ion-content>